@import './layout';
@import './global';
#app {
    text-align: center;
    @include skin(c,#42b983 #ccec3a);
    margin-top: 60px;
    li {
        display: inline-block;
        margin: 0 10px;
    }
}